#notifyBox {
  position: absolute;
  top: 60px;
  right: 10%;
  height: 400px;
  width: 400px;
  background-color: rgb(231, 231, 231);


  display: flex;
  justify-content: center;
}




.notification {
  margin-bottom: 10px;
}


#sceneBox {
  width: 60%;
  height: 650px;
  margin-left: 100px;
}

.receipt-list {
  list-style: none;
  padding: 0;
}


.receipt-list li {
  display: flex;
  justify-content: space-between;
}


.notification input {
  margin-top: 6px;
}


.notification button {
  margin-top: 10px;
}


.notification h3,
.notification p,
.notification ul {
  margin: 6px 0;
}


.scan-area {
  position: relative;
  width: 100%;
  height: 100%;
}


.scan-item {
  width: 200px;
  position: absolute;
  left: 30%;
  top: 20%;
}


.scanner {
  width: 120px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: grab;
}

.thick-line {
  border: none;
  height: 2px; /* Adjust this value for the desired thickness */
  background-color: #333; /* Sets the color of the line */
}